<!-- views/partials/header.ejs -->
<h1>Isaac's URL Shortener</h1>
<a href="/register">Register</a>
<% if (username) { %>
   <p><%= username %> is logged in</p>
    <form method="POST" action="/logout">
        <input type="submit" name="submit" value="Logout">
    </form>
    <a href="/urls">Your URLs</a>
 <% } else { %>
    <a href="/login">Log in</a>
<% } %>


