<!-- views/partials/header.ejs -->
<h1>Isaac's TinyApp</h1>
<% if (username) { %>
   <p><%= username %> is logged in</p>
   <form method="POST" action="/logout">
        <input type="submit" name="submit" value="Logout">
 <% } else { %>
    <form method="POST" action="/login">
        <input id="login" type="text" name="username" placeholder="username">
        <input type="submit" name="submit" value="Log in">
    </form>
<% } %>







<!-- Code from other exercise for style reference-->
<!-- <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                EJS Is Fun
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>

    </div>
</nav> -->