<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
  <% include ./partials/_header %>
  <h2>URL</h2>
    <p><%= shortURL %> : <%= fullURL %></p>
<% include ./partials/_header %>
<h2>URL</h2>
  <p><%= shortURL %> : <%= fullURL %></p>
</body>
</html>