<!DOCTYPE html>
<html lang="en">
<head>
  <title>Isaac's TinyApp</title>
</head>
<body>
<% include ./partials/_header %>
<h2>URLS</h2>
  <ul>
    <% for (var item in urls) { %>
      <li><%= urls[item]%> : <%= item %></li>
      <% } %>
      <a href="#">Shorten a URL</a>
  </ul>
</body>
</html>