<!DOCTYPE html>
<html lang="en">
<head>
  <title>Isaac's TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
  <% include partials/_header %>
  <h2>Your URLS</h2>
  <ul>
    <% for (var short in urls) { %>
      <li><%= urls[short].URL%> : <%= short %>
        <form method="POST" action="/urls/<%= short %>/delete">
          <input id= "delete" type="submit" value="Delete URL">
        </form>
        <form action="/urls/<%= short %>">
          <input type="submit" value="Edit" />
        </form>
      </li>
      <% } %>
  </ul>
<a href="/urls/new">Shorten a URL</a>
</body>
</html>