<!DOCTYPE html>
<html lang="en">
<head>
  <title>Isaac's TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
  <% include ./partials/_header %>
    <p>Thank you for visiting Isaac's TinyApp. This application is for registered users. Please log in or register to continue</p>
</body>
</html>