<!DOCTYPE html>
<html lang="en">
<head>
  <title>Isaac's TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
  <% include ./partials/_header %>
  <h2>Your Short URL</h2>
    <p><%= shortURL %> : <%= longURL %></p>
    <form action="/urls/<%=shortURL %>" method="POST">
      <label for="longURL">Edit this url:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
</body>
</html>