<!DOCTYPE html>
<html lang="en">
<head>
  <title>Isaac's TinyApp</title>
</head>
<body>
  <% include partials/_header %>
  <h2>URL Index</h2>
  <ul>
    <% for (var short in urls) { %>
      <li><%= urls[short]%> : <%= short %></li>
      <form method="POST" action="/urls/<%= short %>/delete">
        <input type="submit" value="Delete URL">
      </form>
      <% } %>
      <a href="#">Shorten a URL</a>
  </ul>
</body>
</html>